*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------- nav style -----------------*/
.top-nav{
    padding-top: 50px;
}
.nav-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-lists{
    display: flex;
    gap: 34px;
}
.nav-item{
    list-style-type: none;
    
}
.nav-link{
    font-size: 1rem;
    color: var(--text-primary);
    text-decoration: none;
}
/*--------------- top header banner style --------------*/
.influencer-banner-content{
    height: calc(100vh - 194px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.banner-title{
    max-width: 582px;
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-img-box{
    width: calc(100% - 130px);
    height: 480px;
    background-image: url('../images/main-camera.png') , url('../images/circle-design.svg') ;
    background-repeat: no-repeat;
    background-position: right center;
}
.banner-text{
    margin: 10px 0px 30px 0px;
}
.influencer-btn{
    width: 196px;
    height: 44px;
    background-color: var(--btn-bg);
    color: var(--text-light);
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 41px;
}
/*----------------- sponsor style----------- */
.influencer-sponsor{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 20px 0px;
}
.influencer-sponsor img{
    object-fit: cover;
}
/* products section style */
.products-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 30px;
    margin-top: 50px;
}
.card{
    width: 330px;
    height: 475px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--bg-light);
}
.card-title{
    font-size: 1.75rem;
    color: #18191F;
    margin: 16px 0px 6px;
}
.card-price{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.87)
}
.card-reviwes .fa{
    font-size: 0.825rem;
    margin-right: 7px;
    color: rgba(251, 130, 0, 1);
}
.show-more-card{
    text-align: right;
    margin-top: 50px;
}
.show-more-card a{
    color: #E02C6D;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 30px;
}































/* Responsive for small devices */
@media screen and (max-width: 575px) {
    .mobile-responsive{
        padding: 30px 15px;
    }
    .top-nav{
        padding-top: 0px;
    }
    .nav-bar{
        height: auto;
        flex-direction: column;
    }
    .nav-lists{
        flex-direction: column;
        gap: 5px;
    }

    .brand-name{
        font-weight: bold;
        font-size: 1rem;
    }
    /* banner content */
    .banner-title{
        text-align: center;
        font-size: 1.75rem;
    }
    .section-description{
        text-align: center;
        font-size: 0.825rem;
    }
    .influencer-banner-content{
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;  
    }
    .banner-img-box{
        width: 100%;
        /* width: calc(100% - 130px); */
        height: 300;
        background-position:  center;
        background-size: 200px 200px;
    }
    .influencer-btn{
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    /* banner sponsor */
    .influencer-sponsor{
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5px;
    }
    .influencer-sponsor img{
        object-fit: cover;
    }
    /* products card */
    .products-list{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 20px;
    }
    .card{
        width: calc(320px - 30px);
    }
    .card img{
        width: 100%;
    }
    .card-title{
        font-size: 1.5rem;
    }
   
    .show-more-card{
        text-align: center;
    }
    .show-more-card a{
        font-size: 1.125rem;
        /* margin-right: 30px; */
    }

        
}

/* Responsive for medium devices */
@media screen and (min-width: 575.99px)  and (max-width: 768px){
    .mobile-responsive{
        padding: 30px 15px;
    }
    .top-nav{
        padding-top: 0px;
    }
    /* .nav-bar{
        height: auto;
        flex-direction: column;
    } */
    .nav-lists{
        gap: 10px;
    }

    .brand-name{
        font-weight: bold;
        font-size: 0.825rem;
    }
    /* banner content */
    .banner-title{
        max-width: 768px;
        text-align: center;
        font-size: 2rem;
    }
    .section-description{
        text-align: center;
        font-size: 1rem;
    }
    .influencer-banner-content{
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* text-align: center;   */
    }
    .banner-img-box{
        width: 100%;
        /* width: calc(100% - 130px); */
        height: 400;
        background-position:  center;
        background-size: 400px 400px;
    }
    .influencer-btn{
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    /* banner sponsor */
    .influencer-sponsor{
        flex-wrap: wrap;
        justify-content: center;
        gap: 7px;
    }
    .influencer-sponsor img{
        object-fit: cover;
    }
    /* products card */
    .products-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;
    }
    .card{
        width: calc(300px - 30px);
    }
    .card img{
        width: 100%;
    }
    .card-title{
        font-size: 1.5rem;
    }
   
    /* .show-more-card{
        text-align: left;
    } */
    .show-more-card a{
        font-size: 1.125rem;
        /* margin-right: 30px; */
    }
    
}

/* Responsive for large devices */
@media screen and (min-width: 768.99px)  and (max-width: 1110px){
    .mobile-responsive{
        padding: 30px 15px;
    }
    .top-nav{
        padding-top: 0px;
    }
    /* .nav-bar{
        height: auto;
        flex-direction: column;
    } */
    .nav-lists{
        gap: 10px;
    }

    .brand-name{
        font-weight: bold;
        font-size: 1rem;
    }
    /* banner content */
    .banner-title{
        font-size: 2rem;
    }
    .section-description{
        text-align: center;
        font-size: 1rem;
    }
    .influencer-banner-content{
        display: flex;
        /* height: auto; */
        justify-content: center;
        align-items: center;
        gap: 20px;
        /* text-align: center;   */
    }
    .banner-img-box{
        width: 100%;
        /* width: calc(100% - 130px); */
        height: 400;
        background-position:  center;
        background-size: 300px 300px;
    }
    .influencer-btn{
        display: block;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    /* banner sponsor */
    .influencer-sponsor{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .influencer-sponsor img{
        object-fit: cover;
    }
       /* products card */
    .products-list{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;
    }
    .card{
        width: calc(400px - 30px);
    }
    .card img{
        width: 100%;
    }
    .card-title{
        font-size: 1.5rem;
    }
   
    .show-more-card a{
        font-size: 1.125rem;
        /* margin-right: 30px; */
    }
    
}
