*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* --------------------- nav style -----------------*/
.top-nav{
    padding-top: 50px;
}
.nav-bar{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: bold;
    font-size: 1.5rem;
}
.nav-lists{
    display: flex;
    gap: 34px;
}
.nav-item{
    list-style-type: none;
    
}
.nav-link{
    font-size: 1rem;
    color: var(--text-primary);
    text-decoration: none;
}
/*--------------- top header banner style --------------*/
.influencer-banner-content{
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.banner-title{
    max-width: 582px;
    font-size: 3.25rem;
    font-weight: bold;
}
.banner-img-box{
    width: calc(100% - 130px);
    height: 500px;
    background-image: url('../images/main-camera.png') , url('../images/circle-design.svg') ;
    background-repeat: no-repeat;
    background-position: right center;
}
.banner-text{
    margin: 10px 0px 30px 0px;
}
.influencer-btn{
    width: 196px;
    height: 44px;
    background-color: var(--btn-bg);
    color: var(--text-light);
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 41px;
}